CHROMA_DB_PATH=./chroma_db
CHAT_COLLECTION_NAME=chat_messages
SESSION_COLLECTION_NAME=session_data

PROJECT_ROOT_PATH=<absolute-path-here>

GROQ_API_KEY=<groq-key-here: https://console.groq.com>
IPGEO_API_KEY=<ipgeolocation-key-here: https://ipgeolocation.io>
ASTRONOMY_API_ID=<astronomyapi-id-here: https://astronomyapi.com>
ASTRONOMY_API_SECRET=<astronomyapi-secret-here: https://astronomyapi.com>
